<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.salesperson.dao.SalespersonDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_salesperson.id,
        v_salesperson.salesperson_code,
        v_salesperson.salesperson_name,
        v_salesperson.department_id,
        v_salesperson.salesperson_level_id,
        v_salesperson.path,
        v_salesperson.deleted_flag,
        v_salesperson.disabled_flag,
        v_salesperson.parent_id
    </sql>

    <resultMap id="SalespersonVOMap" type="net.lab1024.sa.admin.module.vigorous.salesperson.domain.vo.SalespersonVO">
        <id property="id" column="id"/>
        <result property="salespersonName" column="salesperson_name"/>
        <result property="salespersonLevelId" column="salesperson_level_id"/>
        <result property="salespersonLevelName" column="salesperson_Level_name"/>
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="departmentName"/>
        <result property="path" column="path"/>
        <result property="parentId" column="parent_id"/>
        <result property="parentName" column="parent_name"/>
    </resultMap>

    <!-- 分页查询 -->
    <select id="queryPage" resultMap="SalespersonVOMap">
        SELECT
        <include refid="base_columns"/>, d.name as departmentName, vsl.salesperson_level_name, pvs.salesperson_name as parent_name
        FROM v_salesperson
            left join t_department d on v_salesperson.department_id = d.department_id
            left join v_salesperson_level vsl on v_salesperson.salesperson_level_id = vsl.salesperson_level_id
            left join v_salesperson pvs on v_salesperson.parent_id = pvs.id
        <where>
            <!--业务员编码-->
            <if test="queryForm.salespersonCode != null and queryForm.salespersonCode != ''">
                        AND INSTR(v_salesperson.salesperson_code,#{queryForm.salespersonCode})
            </if>
            <!--业务员名称-->
            <if test="queryForm.salespersonName != null and queryForm.salespersonName != ''">
                        AND INSTR(v_salesperson.salesperson_name,#{queryForm.salespersonName})
            </if>
            <!--业务员级别-->
            <if test="queryForm.salespersonLevel != null and queryForm.salespersonLevel != ''">
                        AND INSTR(v_salesperson.salesperson_level_id,#{queryForm.salespersonLevel})
            </if>
            <!--部门-->
            <if test="queryForm.departmentName != null and queryForm.departmentName != ''">
                AND INSTR(d.name,#{queryForm.departmentName})
            </if>
            <if test="queryForm.deletedFlag != null">
                AND INSTR(v_salesperson.deleted_flag,#{queryForm.deletedFlag})
            </if>
        </where>
    </select>

    <update id="batchUpdateDeleted">
        update v_salesperson set deleted_flag = #{deletedFlag}
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update v_salesperson set deleted_flag = #{deletedFlag}
        where id = #{id}
    </update>

    <update id="updateLevel">
        update v_salesperson set salesperson_level_id = #{form.newLevel}
        where id = #{form.salespersonId}
    </update>

    <update id="updateDisabledFlag">
        update v_salesperson set disabled_flag = #{flag}
        where id = #{id}
    </update>


    <select id="getAllSalespersonCodes" resultType="java.lang.String">
        select salesperson_code
        from v_salesperson
    </select>

    <select id="getSalespersonIdByName" resultType="java.lang.Long">
        select v_salesperson.id
        from v_salesperson
        where INSTR(v_salesperson.salesperson_name,#{salespersonName})
    </select>

    <select id="getSalespersonNameById" resultType="java.lang.String">
        select salesperson_name
        from v_salesperson
        where v_salesperson.id = #{salespersonId}
    </select>

    <select id="getSalespersonsByNames" resultType="net.lab1024.sa.admin.module.vigorous.salesperson.domain.vo.SalespersonVO">
        select id, salesperson_name
        from v_salesperson
        where salesperson_name in
        <foreach collection="salespersonNames" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </select>


    <select id="getSalespersonNamesByIds" resultType="net.lab1024.sa.admin.module.vigorous.salesperson.domain.vo.SalespersonVO">
        select id, salesperson_name
        from v_salesperson
        where id in
        <foreach collection="salespersonIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getNowSalespersonLevel" resultType="java.lang.Integer">
        select salesperson_level_id
        from v_salesperson
        where id = #{id}
    </select>

    <select id="getAllSalesperson"
            resultType="net.lab1024.sa.admin.module.vigorous.salesperson.domain.dto.SalespersonDto">
        SELECT
            vs.id,
            vs.salesperson_name AS name,
            d.name AS department,
            vsl.salesperson_level_name AS level
        FROM
            v_salesperson vs
                LEFT JOIN v_salesperson_level vsl ON vs.salesperson_level_id = vsl.salesperson_level_id
                LEFT JOIN t_department d ON vs.department_id = d.department_id
    </select>

</mapper>
