<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.commission.calc.dao.CommissionRecordDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_commission_record.commission_id,
        v_commission_record.order_date,
        v_commission_record.receive_bill_no,
        v_commission_record.sales_bill_no,
        v_commission_record.customer_id,
        v_commission_record.salesperson_id,
        v_commission_record.current_salesperson_level_id,
        v_commission_record.current_salesperson_level_rate,
        v_commission_record.current_parent_id,
        v_commission_record.current_parent_level_id,
        v_commission_record.current_parent_level_rate,
        v_commission_record.sales_amount,
        v_commission_record.currency_type,
        v_commission_record.customer_year,
        v_commission_record.customer_year_rate,
        v_commission_record.commission_type,
        v_commission_record.commission_rate,
        v_commission_record.commission_amount,
        v_commission_record.is_transfer,
        v_commission_record.is_customs_declaration,
        v_commission_record.remark,
        v_commission_record.create_time,
        v_commission_record.update_time
    </sql>

    <sql id="insert_columns">
        v_commission_record.order_date,
        v_commission_record.receive_bill_no,
        v_commission_record.sales_bill_no,
        v_commission_record.customer_id,
        v_commission_record.salesperson_id,
        v_commission_record.current_salesperson_level_id,
        v_commission_record.current_salesperson_level_rate,
        v_commission_record.current_parent_id,
        v_commission_record.current_parent_level_id,
        v_commission_record.current_parent_level_rate,
        v_commission_record.sales_amount,
        v_commission_record.currency_type,
        v_commission_record.customer_year,
        v_commission_record.customer_year_rate,
        v_commission_record.commission_type,
        v_commission_record.commission_rate,
        v_commission_record.commission_amount,
        v_commission_record.is_transfer,
        v_commission_record.is_customs_declaration
    </sql>

    <sql id="insert_item">
        #{item.orderDate},
        #{item.receiveBillNo},
        #{item.salesBillNo},
        #{item.customerId},
        #{item.salespersonId},
        #{item.currentSalespersonLevelId},
        #{item.currentSalespersonLevelRate},
        #{item.currentParentId},
        #{item.currentParentLevelId},
        #{item.currentParentLevelRate},
        #{item.salesAmount},
        #{item.currencyType},
        #{item.customerYear},
        #{item.customerYearRate},
        #{item.commissionType},
        #{item.commissionRate},
        #{item.commissionAmount},
        #{item.isTransfer},
        #{item.isCustomsDeclaration}
    </sql>

    <insert id="batchInsertOrUpdate" parameterType="list">
        INSERT INTO v_commission_record(<include refid="insert_columns"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (<include refid="insert_item"/>)
        </foreach>
        ON DUPLICATE KEY UPDATE
            order_date = VALUES(order_date),
            receive_bill_no = VALUES(receive_bill_no),
            sales_bill_no = VALUES(sales_bill_no),
            customer_id = VALUES(customer_id),
            salesperson_id = VALUES(salesperson_id),
            current_salesperson_level_id = VALUES(current_salesperson_level_id),
            current_salesperson_level_rate = VALUES(current_salesperson_level_rate),
            current_parent_id = VALUES(current_parent_id),
            current_parent_level_id = VALUES(current_parent_level_id),
            current_parent_level_rate = VALUES(current_parent_level_rate),
            sales_amount = VALUES(sales_amount),
            customer_year = VALUES(customer_year),
            customer_year_rate = VALUES(customer_year_rate),
            commission_type = VALUES(commission_type),
            commission_rate = VALUES(commission_rate),
            commission_amount = VALUES(commission_amount),
            is_transfer = VALUES(is_transfer),
            is_customs_declaration = VALUES(is_customs_declaration)
    </insert>

    <insert id="batchInsert">
        INSERT INTO v_commission_record(<include refid="insert_columns"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (<include refid="insert_item"/>)
        </foreach>
    </insert>


    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.commission.calc.domain.vo.CommissionRecordVO">
        SELECT
        <include refid="base_columns"/>,
            vc.customer_name,
            vc.customer_code,
            vc.first_order_date,
            vc.adjusted_first_order_date,
            vc.transfer_status as is_transfer,
            vso.amount
        FROM v_commission_record
            left join v_customer vc on v_commission_record.customer_id = vc.customer_id
            left join v_sales_outbound vso on v_commission_record.sales_bill_no = vso.bill_no
        <where>
            <!--业务员-->
            <if test="queryForm.salespersonName != null and queryForm.salespersonName != ''">
                AND INSTR(v_commission_record.salesperson_id,#{queryForm.salespersonName})
            </if>
            <!--客户名称-->
            <if test="queryForm.customerName != null and queryForm.customerName != ''">
                AND INSTR(v_commission_record.customer_id,#{queryForm.customerName})
            </if>
            <!--销售出库日期-->
            <if test="queryForm.orderDateBegin != null">
                AND v_commission_record.order_date &gt;= #{queryForm.orderDateBegin}
            </if>
            <if test="queryForm.orderDateEnd != null">
                AND v_commission_record.order_date &lt;= #{queryForm.orderDateEnd}
            </if>
            <if test="queryForm.salesBillNo != null">
                AND INSTR(v_commission_record.sales_bill_no,#{queryForm.salesBillNo})
            </if>
            <if test="queryForm.filterDateList != null and queryForm.filterDateList.size() > 0">
                And
                <foreach collection="queryForm.filterDateList" item="dateVO" index="index" open="(" close=")" separator="OR">
                    <if test="dateVO.startDate != null and dateVO.endDate != null">
                        order_date BETWEEN #{dateVO.startDate} AND #{dateVO.endDate}
                    </if>
                </foreach>
            </if>
        </where>
        order by v_commission_record.order_date desc
    </select>


</mapper>
