<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.commission.calc.dao.CommissionRecordDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_commission_record.commission_id,
        v_commission_record.sales_order_bill_no,
        v_commission_record.order_date,
        v_commission_record.f_sales_bill_no,
        v_commission_record.sales_bill_no,
        v_commission_record.outbound_date,
        v_commission_record.receive_bill_no,
        v_commission_record.customer_id,
        v_commission_record.salesperson_id,
        v_commission_record.salesperson_name,
        v_commission_record.current_salesperson_level_name,
        v_commission_record.current_salesperson_level_rate,
        v_commission_record.current_parent_id,
        v_commission_record.current_parent_name,
        v_commission_record.current_parent_level_name,
        v_commission_record.current_parent_level_rate,
        v_commission_record.sales_amount,
        v_commission_record.currency_type,
        v_commission_record.exchange_rate,
        v_commission_record.fall_amount,
        v_commission_record.customer_year,
        v_commission_record.customer_year_rate,
        v_commission_record.commission_type,
        v_commission_record.commission_rate,
        v_commission_record.commission_amount,
        v_commission_record.is_transfer,
        v_commission_record.is_customs_declaration,
        v_commission_record.create_time,
        v_commission_record.update_time
    </sql>

    <sql id="insert_columns">
        v_commission_record.sales_order_bill_no,
        v_commission_record.order_date,

        v_commission_record.f_sales_bill_no,

        v_commission_record.sales_bill_no,
        v_commission_record.outbound_date,

        v_commission_record.receive_bill_no,

        v_commission_record.customer_id,
        v_commission_record.salesperson_id,
        v_commission_record.salesperson_name,
        v_commission_record.current_salesperson_level_name,
        v_commission_record.current_salesperson_level_rate,
        v_commission_record.current_parent_id,
        v_commission_record.current_parent_name,
        v_commission_record.current_parent_level_name,
        v_commission_record.current_parent_level_rate,
        v_commission_record.sales_amount,
        v_commission_record.currency_type,
        v_commission_record.exchange_rate,
        v_commission_record.fall_amount,
        v_commission_record.customer_year,
        v_commission_record.customer_year_rate,
        v_commission_record.commission_type,
        v_commission_record.commission_rate,
        v_commission_record.commission_amount,
        v_commission_record.is_transfer,
        v_commission_record.is_customs_declaration
    </sql>

    <sql id="insert_item">
        #{item.salesOrderBillNo},
        #{item.orderDate},

        #{item.fSalesBillNo},

        #{item.salesBillNo},
        #{item.outboundDate},

        #{item.receiveBillNo},

        #{item.customerId},
        #{item.salespersonId},
        #{item.salespersonName},
        #{item.currentSalespersonLevelName},
        #{item.currentSalespersonLevelRate},
        #{item.currentParentId},
        #{item.currentParentName},
        #{item.currentParentLevelName},
        #{item.currentParentLevelRate},
        #{item.salesAmount},
        #{item.currencyType},
        #{item.exchangeRate},
        #{item.fallAmount},
        #{item.customerYear},
        #{item.customerYearRate},
        #{item.commissionType},
        #{item.commissionRate},
        #{item.commissionAmount},
        #{item.isTransfer},
        #{item.isCustomsDeclaration}
    </sql>

    <insert id="batchInsertOrUpdate" parameterType="list">
        INSERT INTO v_commission_record(<include refid="insert_columns"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (<include refid="insert_item"/>)
        </foreach>
        ON DUPLICATE KEY UPDATE
            sales_order_bill_no = VALUES(sales_order_bill_no),
            order_date = VALUES(order_date),

            f_sales_bill_no = VALUES(f_sales_bill_no),

            sales_bill_no = VALUES(sales_bill_no),
            outbound_date = VALUES(outbound_date),

            receive_bill_no = VALUES(receive_bill_no),

            customer_id = VALUES(customer_id),
            salesperson_id = VALUES(salesperson_id),
            salesperson_name = VALUES(salesperson_name),
            current_salesperson_level_name = VALUES(current_salesperson_level_name),
            current_salesperson_level_rate = VALUES(current_salesperson_level_rate),
            current_parent_id = VALUES(current_parent_id),
            current_parent_level_name = VALUES(current_parent_level_name),
            current_parent_level_rate = VALUES(current_parent_level_rate),
            sales_amount = VALUES(sales_amount),
            currency_type = VALUES(currency_type),
            exchange_rate = VALUES(exchange_rate),
            fall_amount = VALUES(fall_amount),
            customer_year = VALUES(customer_year),
            customer_year_rate = VALUES(customer_year_rate),
            commission_type = VALUES(commission_type),
            commission_rate = VALUES(commission_rate),
            commission_amount = VALUES(commission_amount),
            is_transfer = VALUES(is_transfer),
            is_customs_declaration = VALUES(is_customs_declaration)
    </insert>

    <insert id="batchInsert">
        INSERT INTO v_commission_record(<include refid="insert_columns"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (<include refid="insert_item"/>)
        </foreach>
    </insert>


    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.commission.calc.domain.vo.CommissionRecordVO">
        SELECT
        <include refid="base_columns"/>,
            vc.customer_name,
            vc.customer_code,
            vc.first_order_date,
            vc.adjusted_first_order_date,
            vc.transfer_status as is_transfer,
            vso.amount
        FROM v_commission_record
            left join v_customer vc on v_commission_record.customer_id = vc.customer_id
            left join v_sales_outbound vso on v_commission_record.sales_bill_no = vso.bill_no
        <where>
            <!--业务员-->
            <if test="queryForm.salespersonId != null and queryForm.commissionType == null">
                AND (
                -- 条件1：业务员自身记录（所有提成类型）
                v_commission_record.salesperson_id = #{queryForm.salespersonId}

                OR
                -- 条件2：管理提成记录（上级为当前业务员）
                (
                v_commission_record.current_parent_id = #{queryForm.salespersonId}
                AND
                v_commission_record.commission_type = 2  <!-- 2代表管理提成 -->
                )
                )
            </if>
            <if test="queryForm.commissionType == 1 and queryForm.salespersonId != null">
                AND v_commission_record.salesperson_id = #{queryForm.salespersonId}
            </if>
            <if test="queryForm.commissionType == 2 and queryForm.salespersonId != null">
                AND v_commission_record.current_parent_id = #{queryForm.salespersonId}
            </if>
            <!--客户名称-->
            <if test="queryForm.customerName != null and queryForm.customerName != ''">
                AND INSTR(vc.customer_name,#{queryForm.customerName})
            </if>
            <if test="queryForm.isCustomsDeclaration != null and queryForm.isCustomsDeclaration != ''">
                AND v_commission_record.is_customs_declaration = #{queryForm.isCustomsDeclaration}
            </if>
            <!--销售订单日期-->
            <if test="queryForm.orderDateBegin != null">
                AND v_commission_record.order_date &gt;= #{queryForm.orderDateBegin}
            </if>
            <if test="queryForm.orderDateEnd != null">
                AND v_commission_record.order_date &lt;= #{queryForm.orderDateEnd}
            </if>
            <if test="queryForm.commissionType != null">
                AND v_commission_record.commission_type = #{queryForm.commissionType}
            </if>
            <if test="queryForm.salesBillNo != null and queryForm.salesBillNo != ''">
                AND INSTR(v_commission_record.sales_bill_no,#{queryForm.salesBillNo})
            </if>
            <if test="queryForm.salesOrderBillNo != null and queryForm.salesOrderBillNo != ''">
                AND INSTR(v_commission_record.sales_order_bill_no,#{queryForm.salesOrderBillNo})
            </if>
            <if test="queryForm.filterDateList != null and queryForm.filterDateList.size() > 0">
                And
                <foreach collection="queryForm.filterDateList" item="dateVO" index="index" open="(" close=")" separator="OR">
                    <if test="dateVO.startDate != null and dateVO.endDate != null">
                        order_date BETWEEN #{dateVO.startDate} AND #{dateVO.endDate}
                    </if>
                </foreach>
            </if>
        </where>
        order by v_commission_record.order_date desc, v_commission_record.sales_bill_no
    </select>


    <!-- 结果映射，包含物料明细列表 -->
    <resultMap id="CommissionRecordWithMaterialMap" type="net.lab1024.sa.admin.module.vigorous.commission.calc.domain.vo.CommissionRecordVO">
        <!-- 基础字段映射 -->
        <result column="sales_order_bill_no" property="salesOrderBillNo"/>
        <result column="order_date" property="orderDate"/>
        <result column="order_type" property="orderType"/>

        <result column="receive_bill_no" property="receiveBillNo"/>
        <result column="sales_bill_no" property="salesBillNo"/>
        <result column="currency_type" property="currencyType"/>

        <!--  客户-->
        <result column="customer_code" property="customerCode"/>
        <result column="customer_name" property="customerName"/>
        <result column="first_order_date" property="firstOrderDate"/>
        <result column="adjusted_first_order_date" property="adjustedFirstOrderDate"/>
        <result column="is_customs_declaration" property="isCustomsDeclaration"/>
        <result column="is_transfer" property="isTransfer"/>
        <result column="customer_year_rate" property="customerYearRate"/>

        <!--    销售员    -->
        <result column="salesperson_id" property="salespersonId"/>
        <result column="salesperson_name" property="salespersonName"/>
        <result column="current_salesperson_level_name" property="currentSalespersonLevelName"/>
        <result column="current_salesperson_level_rate" property="currentSalespersonLevelRate"/>
        <result column="current_parent_id" property="currentParentId"/>
        <result column="current_parent_name" property="currentParentName"/>
        <result column="current_parent_level_name" property="currentParentLevelName"/>
        <result column="current_parent_level_name" property="currentParentLevelName"/>
        <result column="current_parent_level_rate" property="currentParentLevelRate"/>

        <result column="sales_amount" property="salesAmount"/>
        <result column="exchange_rate" property="exchangeRate"/>
        <result column="fall_amount" property="fallAmount"/>

        <result column="commission_type" property="commissionType"/>
        <result column="fall_amount" property="fallAmount"/>
        <result column="commission_rate" property="commissionRate"/>
        <result column="commission_amount" property="commissionAmount"/>

        <!-- 物料明细集合 -->
        <collection property="materialItems" ofType="net.lab1024.sa.admin.module.vigorous.receivables.domain.entity.ReceivablesDetailsEntity" javaType="java.util.ArrayList">
            <result column="material_name" property="materialName"/>
            <result column="serial_num" property="serialNum"/>
            <result column="sale_unit" property="saleUnit"/>
            <result column="sale_quantity" property="saleQuantity"/>
            <result column="material_price" property="saleAmount"/>
        </collection>
    </resultMap>

    <select id="queryPageWithMaterial" resultMap="CommissionRecordWithMaterialMap">
        SELECT
        <include refid="base_columns"/>,
        vc.customer_name,
        vc.customer_code,
        vc.first_order_date,
        vc.adjusted_first_order_date,
        vc.transfer_status as is_transfer,
        vso.amount,
        vso_order.order_type,
        vrd.material_name,
        vrd.serial_num,
        vrd.sale_unit,
        vrd.sale_quantity,
        vrd.sale_amount as material_price
        FROM v_commission_record
        left join v_customer vc on v_commission_record.customer_id = vc.customer_id
        left join v_sales_outbound vso on v_commission_record.sales_bill_no = vso.bill_no
        left join v_sales_order vso_order on vso_order.bill_no = v_commission_record.sales_order_bill_no
        LEFT JOIN v_receivables_details vrd ON v_commission_record.receive_bill_no = vrd.origin_bill_no
        INNER JOIN receivable_material m ON FIND_IN_SET(m.bill_no, r.receive_bill_no) > 0
        <where>
            <!--业务员-->
            <if test="queryForm.salespersonId != null and queryForm.commissionType == null">
                AND (
                -- 条件1：业务员自身记录（所有提成类型）
                v_commission_record.salesperson_id = #{queryForm.salespersonId}

                OR
                -- 条件2：管理提成记录（上级为当前业务员）
                (
                v_commission_record.current_parent_id = #{queryForm.salespersonId}
                AND
                v_commission_record.commission_type = 2  <!-- 2代表管理提成 -->
                )
                )
            </if>
            <!--客户名称-->
            <if test="queryForm.customerName != null and queryForm.customerName != ''">
                AND INSTR(vc.customer_name,#{queryForm.customerName})
            </if>
            <if test="queryForm.isCustomsDeclaration != null and queryForm.isCustomsDeclaration != ''">
                AND v_commission_record.is_customs_declaration = #{queryForm.isCustomsDeclaration}
            </if>
            <!--销售出库日期-->
            <if test="queryForm.orderDateBegin != null">
                AND v_commission_record.order_date &gt;= #{queryForm.orderDateBegin}
            </if>
            <if test="queryForm.orderDateEnd != null">
                AND v_commission_record.order_date &lt;= #{queryForm.orderDateEnd}
            </if>
            <if test="queryForm.commissionType != null">
                AND v_commission_record.commission_type = #{queryForm.commissionType}
            </if>
            <if test="queryForm.salesBillNo != null and queryForm.salesBillNo != ''">
                AND INSTR(v_commission_record.sales_bill_no,#{queryForm.salesBillNo})
            </if>
            <if test="queryForm.salesOrderBillNo != null and queryForm.salesOrderBillNo != ''">
                AND INSTR(v_commission_record.sales_order_bill_no,#{queryForm.salesOrderBillNo})
            </if>
            <if test="queryForm.filterDateList != null and queryForm.filterDateList.size() > 0">
                And
                <foreach collection="queryForm.filterDateList" item="dateVO" index="index" open="(" close=")" separator="OR">
                    <if test="dateVO.startDate != null and dateVO.endDate != null">
                        order_date BETWEEN #{dateVO.startDate} AND #{dateVO.endDate}
                    </if>
                </foreach>
            </if>
        </where>
        order by v_commission_record.commission_type asc,
            v_commission_record.order_date desc,
            v_commission_record.sales_bill_no,
            vrd.serial_num asc
    </select>


</mapper>
