<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.customer.dao.CustomerDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_customer.customer_id,
        v_customer.customer_code,
        v_customer.customer_name,
        v_customer.short_name,
        v_customer.salesperson_id,
        v_customer.country,
        v_customer.customer_group,
        v_customer.currency_type,
        v_customer.customer_category,
        v_customer.first_order_date,
        v_customer.adjusted_first_order_date,
        v_customer.transfer_status,
        v_customer.is_customs_declaration,
        v_customer.create_time,
        v_customer.update_time
    </sql>

    <sql id="salesperson_columns">
        v_salesperson.salesperson_code,
        v_salesperson.salesperson_name
    </sql>

    <update id="batchUpdate">
        <foreach collection="list" item="item" separator=";">
            UPDATE v_customer
            SET
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="item.customerCode != null">
                    customer_code = #{item.customerCode},
                </if>
                <if test="item.customerName != null">
                    customer_name = #{item.customerName},
                </if>
                <if test="item.customerName != null and item.customerName != '' ">
                    short_name = #{item.shortName},
                </if>
                <if test="item.country != null and item.country != '' ">
                    country = #{item.country},
                </if>
                <if test="item.customerGroup != null">
                    customer_group = #{item.customerGroup},
                </if>
                <if test="item.currencyType != null">
                    currency_type = #{item.currencyType},
                </if>
                <if test="item.salespersonId != null">
                    salesperson_id = #{item.salespersonId},
                </if>
                <if test="item.firstOrderDate != null ">
                    first_order_date = #{item.firstOrderDate},
                </if>
                <if test="item.transferStatus != null">
                    transfer_status = #{item.transferStatus},
                </if>
            </trim>
            WHERE customer_code = #{item.customerCode}
        </foreach>
    </update>

    <update id="adjustFirstOrderDate">
        <foreach collection="list" item="item" separator=";">
            update v_customer
            set
                adjusted_first_order_date = #{item.adjustedFirstOrderDate}
            WHERE customer_id = #{item.customerId}
        </foreach>
    </update>

    <resultMap id="customerResultMap" type="net.lab1024.sa.admin.module.vigorous.customer.domain.vo.CustomerVO">
        <id property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="customerCode" column="customer_code"/>
        <result property="shortName" column="short_name"/>
        <result property="country" column="country"/>
        <result property="customerCategory" column="customer_category"/>
        <result property="customerGroup" column="customer_group"/>

        <association property="salesperson" column="id" javaType="net.lab1024.sa.admin.module.vigorous.salesperson.domain.vo.SalespersonVO">
            <id property="id" column="id"/>
            <result property="salespersonCode" column="salesperson_code"/>
            <result property="salespersonName" column="salesperson_name"/>
        </association>

    </resultMap>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.customer.domain.vo.CustomerVO">
<!--    <select id="queryPage" resultMap="customerResultMap">-->
        SELECT
            <include refid="base_columns"/>,
            <include refid="salesperson_columns"/>
        FROM   v_customer
            left join v_salesperson ON v_customer.salesperson_id = v_salesperson.id
        <where>
            <!--顾客编码-->
            <if test="queryForm.customerCode != null and queryForm.customerCode != ''">
                AND INSTR(v_customer.customer_code,#{queryForm.customerCode})
            </if>
            <!--顾客名称-->
            <if test="queryForm.customerName != null and queryForm.customerName != ''">
                AND (
                INSTR(v_customer.customer_name, #{queryForm.customerName}) > 0
                OR INSTR(v_customer.short_name, #{queryForm.customerName}) > 0
                )
            </if>
            <if test="queryForm.hasFirstOrder != null">
                <if test="queryForm.hasFirstOrder == 1">
                    AND v_customer.first_order_date IS NOT NULL
                </if>
                <if test="queryForm.hasFirstOrder == 0">
                    AND v_customer.first_order_date IS NULL
                </if>
            </if>
            <!--业务员-->
            <if test="queryForm.salespersonName != null and queryForm.salespersonName != ''">
                AND INSTR(v_salesperson.salesperson_name,#{queryForm.salespersonName})
            </if>
            <if test="queryForm.customerGroup != null and queryForm.customerGroup != ''">
                AND INSTR(v_customer.customer_group,#{queryForm.customerGroup})
            </if>
            <if test="queryForm.country != null and queryForm.country != ''">
                AND INSTR(v_customer.country,#{queryForm.country})
            </if>
        </where>
    </select>

    <select id="queryByCustomerCode"
            resultType="net.lab1024.sa.admin.module.vigorous.customer.domain.entity.CustomerEntity">
        select
            <include refid="base_columns"/>
            from v_customer
        where
            customer_code = #{customerCode}
    </select>

    <select id="getCustomerIdByCustomerName" resultType="java.lang.Long">
        select customer_id
        from v_customer
        where
            INSTR(v_customer.customer_name,#{customerName})
    </select>

    <select id="getCustomerNameById" resultType="java.lang.String">
        select customer_name
        from v_customer
        where customer_id = #{customerId}
    </select>


    <select id="queryByCustomerNames"
            resultType="net.lab1024.sa.admin.module.vigorous.customer.domain.vo.CustomerVO">
        select
            <include refid="base_columns"/>
        from v_customer
        where customer_name in
        <foreach collection="customerNames" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>

    </select>
    
    <select id="getCustomerNamesByIds" resultType="net.lab1024.sa.admin.module.vigorous.customer.domain.vo.CustomerVO">
        select customer_id, customer_name
        from v_customer
        where customer_id in
        <foreach collection="customerIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryByCustomerCodes"
            resultType="net.lab1024.sa.admin.module.vigorous.customer.domain.vo.CustomerVO">
        select <include refid="base_columns"/>
        from v_customer
        where customer_code in
        <foreach collection="customerCodes" index="index" item="code" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </select>




</mapper>
