<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.firstorder.dao.FirstOrderDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_first_order.first_order_id,
        v_first_order.customer_id,
        v_first_order.salesperson_id,
        v_first_order.bill_no,
        v_first_order.order_date,
        v_first_order.create_time,
        v_first_order.update_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.firstorder.domain.vo.FirstOrderVO">
        SELECT
        <include refid="base_columns"/>
        FROM v_first_order
        <where>
            <!--客户名称-->
            <if test="queryForm.customerId != null and queryForm.customerId != ''">
                        AND INSTR(v_first_order.customer_id,#{queryForm.customerId})
            </if>
            <!--业务员-->
            <if test="queryForm.salespersonId != null and queryForm.salespersonId != ''">
                        AND INSTR(v_first_order.salesperson_id,#{queryForm.salespersonId})
            </if>
        </where>
    </select>

    <select id="queryByCustomerNames"
            resultType="net.lab1024.sa.admin.module.vigorous.firstorder.domain.vo.FirstOrderVO">
        SELECT
            vfo.first_order_id,
            vfo.customer_id,
            vc.customer_name,
            vfo.salesperson_id,
            vs.salesperson_name,
            vfo.order_date
        FROM
            v_first_order vfo
                LEFT JOIN v_customer vc ON vfo.customer_id = vc.customer_id
                LEFT JOIN v_salesperson vs ON vfo.salesperson_id = vs.id



    </select>


</mapper>
