<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.receivables.dao.ReceivablesDetailsDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_receivables_details.id,
        v_receivables_details.origin_bill_no,
        v_receivables_details.material_code,
        v_receivables_details.material_name,
        v_receivables_details.serial_num,
        v_receivables_details.sale_unit,
        v_receivables_details.sale_quantity,
        v_receivables_details.sale_amount,
        v_receivables_details.create_time,
        v_receivables_details.update_time
    </sql>

    <insert id="batchInsertOrUpdate">
        INSERT INTO v_receivables_details
        (
        material_code,
        material_name,
        origin_bill_no,
        serial_num,
        sale_unit,
        sale_quantity,
         sale_amount
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.materialCode},
            #{item.materialName},
            #{item.originBillNo},
            #{item.serialNum},
            #{item.saleUnit},
            #{item.saleQuantity},
            #{item.saleAmount}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        material_name = VALUES(material_name),
        serial_num = VALUES(serial_num),
        sale_unit = VALUES(sale_unit),
        sale_quantity = VALUES(sale_quantity),
        sale_amount = VALUES(sale_amount)
    </insert>

    <!--   批量更新 /-->
    <update id="batchUpdate">
        <foreach collection="list" item="item" separator=";">
            UPDATE v_receivables_details
            SET
            <trim suffixOverrides=",">
                <if test="item.materialName != null and item.materialName != ''">
                    material_name = #{item.materialName},
                </if>
                <if test="item.saleUnit != null and item.saleUnit != ''">
                    sale_unit = #{item.saleUnit},
                </if>
                <if test="item.saleQuantity != null">
                    sale_quantity = #{item.saleQuantity},
                </if>
                <if test="item.saleAmount != null">
                    sale_amount = #{item.saleAmount},
                </if>
            </trim>
            WHERE origin_bill_no = #{item.originBillNo}
            AND material_code = #{item.materialCode}
            And serial_num = #{item.serialNum}
        </foreach>
    </update>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.receivables.domain.vo.ReceivablesDetailsVO">
        SELECT
        <include refid="base_columns"/>
        FROM v_receivables_details
        <where>
            <!--应收单-->
            <if test="queryForm.receivablesId != null and queryForm.receivablesId != ''">
                AND INSTR(v_receivables_details.origin_bill_no,#{queryForm.receivablesId})
            </if>
            <if test="queryForm.materialCode != null and queryForm.materialCode != ''">
                AND INSTR(v_receivables_details.material_code,#{queryForm.materialCode})
            </if>
            <if test="queryForm.materialName != null and queryForm.materialName != ''">
                AND INSTR(v_receivables_details.material_name,#{queryForm.materialName})
            </if>
        </where>
        order by origin_bill_no, material_code
    </select>


    <select id="getExistingBillNo" resultType="java.lang.String">
        select bill_no
        from v_receivables_details
        where bill_no IN
        <foreach collection="billNos" item="billNo" open="(" close=")" separator=",">
            #{billNo}
        </foreach>
    </select>

    <select id="getExistingUniqueKeys" resultType="java.lang.String">
        SELECT
        CONCAT(origin_bill_no, '|', material_code, '|', serial_num) as unique_key
        FROM v_receivables_details
        WHERE origin_bill_no IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.originBillNo}
        </foreach>
    </select>

    <resultMap id="receivablesDetailsMap"
               type="net.lab1024.sa.admin.module.vigorous.receivables.domain.entity.ReceivablesDetailsEntity">
        <result property="originBillNo" column="origin_bill_no"/>
        <result property="materialCode" column="material_code"/>
        <result property="serialNum" column="serial_num"/>
        <result property="materialName" column="material_name"/>
        <result property="saleUnit" column="sale_unit"/>
        <result property="saleQuantity" column="sale_quantity"/>
        <result property="saleAmount" column="sale_amount"/>
    </resultMap>

    <select id="queryByBillNos"
            resultType="net.lab1024.sa.admin.module.vigorous.receivables.domain.entity.ReceivablesDetailsEntity">
        SELECT
            origin_bill_no,
            material_code,
            serial_num,
            material_name,
            sale_unit,
            sale_quantity,
            sale_amount
        FROM v_receivables_details
        WHERE origin_bill_no IN
        <foreach collection="set" item="billNo" open="(" separator="," close=")">
            #{billNo}
        </foreach>
        ORDER BY origin_bill_no DESC, serial_num
    </select>

</mapper>
