<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.sales.outbound.dao.SalesOutboundDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_sales_outbound.sales_bound_id,
        v_sales_outbound.bill_no,
        v_sales_outbound.sales_bound_date,
        v_sales_outbound.customer_id,
        v_sales_outbound.salesperson_id,
        v_sales_outbound.amount,
        v_sales_outbound.create_time,
        v_sales_outbound.update_time
    </sql>

    <sql id="commission_columns">
        v_sales_outbound.sales_bound_id,
        v_sales_outbound.bill_no,
        v_sales_outbound.sales_bound_date,
        v_sales_outbound.customer_id,
        v_sales_outbound.salesperson_id,
        v_sales_outbound.amount
    </sql>

    <resultMap id="salesOutboundVO2Map" type="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.vo.SalesOutboundVO2">
        <id property="salesBoundId" column="sales_bound_id"/>
        <result property="billNo" column="bill_no"/>
        <result property="salesBoundDate" column="sales_bound_date"/>
        <result property="amount" column="amount"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <association property="customer" column="first_order_id" javaType="net.lab1024.sa.admin.module.vigorous.customer.domain.vo.CustomerVO">
            <id property="customerId" column="customer_id"/>
            <result property="customerCode" column="customer_code"/>
            <result property="customerName" column="customer_name"/>
        </association>
        <association property="salesperson" column="id" javaType="net.lab1024.sa.admin.module.vigorous.salesperson.domain.vo.SalespersonVO">
            <id property="id" column="id"/>
            <result property="salespersonCode" column="salesperson_code"/>
            <result property="salespersonName" column="salesperson_name"/>
        </association>
        <association property="receivables" column="id" javaType="net.lab1024.sa.admin.module.vigorous.receivables.domain.entity.ReceivablesEntity">
            <id property="receivablesId" column="receivables_id"/>
            <result property="billNo" column="bill_no"/>
            <result property="currencyType" column="currency_type"/>
            <result property="rate" column="rate"/>
        </association>
    </resultMap>

    <resultMap id="salesOutboundVOMap" type="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.vo.SalesOutboundVO">
        <id property="salesBoundId" column="sales_bound_id"/>
        <result property="billNo" column="bill_no"/>
        <result property="salesBoundDate" column="sales_bound_date"/>
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="salespersonId" column="salesperson_id"/>
        <result property="salespersonName" column="salesperson_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="amount" column="amount"/>
        <result property="rate" column="rate"/>
        <result property="currencyType" column="currency_type"/>
    </resultMap>

    <!-- 分页查询 -->
    <select id="queryPage" resultMap="salesOutboundVOMap">
        SELECT
        <include refid="base_columns"/>,
        vc.customer_name,
        vs.id,
        vs.salesperson_name
        FROM   v_sales_outbound
        left join v_customer vc on vc.customer_id= v_sales_outbound.customer_id
        left join v_salesperson vs on vs.id = v_sales_outbound.salesperson_id
        <where>
            <!--客户编码-->
            <if test="queryForm.customerName != null and queryForm.customerName != ''">
                AND INSTR(vc.customer_name,#{queryForm.customerName})
            </if>
            <!--业务员-->
            <if test="queryForm.salespersonName != null and queryForm.salespersonName != '' ">
                AND INSTR(vs.salesperson_name, #{queryForm.salespersonName})
            </if>
            <if test="queryForm.billNo != null and queryForm.billNo != '' ">
                AND INSTR(v_sales_outbound.bill_no,#{queryForm.billNo})
            </if>
            <!--出库日期-->
            <if test="queryForm.salesBoundDateBegin != null ">
                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &gt;= #{queryForm.salesBoundDateBegin}
            </if>
            <if test="queryForm.salesBoundDateEnd != null ">
                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &lt;= #{queryForm.salesBoundDateEnd}
            </if>
        </where>
        order by v_sales_outbound.sales_bound_date desc
    </select>
<!--    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.vo.SalesOutboundVO">-->
<!--        SELECT-->
<!--        <include refid="base_columns"/>-->
<!--        FROM v_sales_outbound-->
<!--        <where>-->
<!--            &lt;!&ndash;客户编码&ndash;&gt;-->
<!--            <if test="queryForm.customerId != null">-->
<!--                        AND INSTR(v_sales_outbound.customer_id,#{queryForm.customerId})-->
<!--            </if>-->
<!--            &lt;!&ndash;业务员&ndash;&gt;-->
<!--            <if test="queryForm.salespersonId != null">-->
<!--                        AND INSTR(v_sales_outbound.salesperson_id,#{queryForm.salespersonId})-->
<!--            </if>-->
<!--            <if test="queryForm.billNo != null and queryForm.billNo != '' ">-->
<!--                AND INSTR(v_sales_outbound.bill_no,#{queryForm.billNo})-->
<!--            </if>-->
<!--            &lt;!&ndash;出库日期&ndash;&gt;-->
<!--            <if test="queryForm.salesBoundDateBegin != null ">-->
<!--                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &gt;= #{queryForm.salesBoundDateBegin}-->
<!--            </if>-->
<!--            <if test="queryForm.salesBoundDateEnd != null ">-->
<!--                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &lt;= #{queryForm.salesBoundDateEnd}-->
<!--            </if>-->
<!--        </where>-->
<!--        order by v_sales_outbound.sales_bound_date desc-->
<!--    </select>-->

    <select id="queryByBillNo"
            resultType="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.entity.SalesOutboundEntity">
        select <include refid="base_columns"/>
        from v_sales_outbound
        where bill_no = #{billNo}
    </select>

    <select id="queryFirstOrderOfCustomer"
            resultType="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.vo.SalesOutboundVO">
        select <include refid="base_columns"/>
            from v_sales_outbound
        where customer_id = #{customerId}
        order by sales_bound_date ASC
        limit 1
    </select>

    <select id="queryByBillNos"
            resultType="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.entity.SalesOutboundEntity">
        SELECT <include refid="base_columns"/>
            FROM v_sales_outbound
        WHERE bill_no IN
        <foreach collection="billNos" item="billNo" open="(" close=")" separator=",">
            #{billNo}
        </foreach>
    </select>

    <select id="queryExportList"
            resultType="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.vo.SalesOutboundVO">
        SELECT
        <include refid="commission_columns"/>,
        FROM v_sales_outbound left join v_receivables vr on v_sales_outbound.bill_no = vr.origin_bill_no
        <where>
            <!--客户编码-->
            <if test="queryForm.customerId != null">
                AND INSTR(v_sales_outbound.customer_id,#{queryForm.customerId})
            </if>
            <!--业务员-->
            <if test="queryForm.salespersonId != null">
                AND INSTR(v_sales_outbound.salesperson_id,#{queryForm.salespersonId})
            </if>
            <if test="queryForm.billNo != null and queryForm.billNo != '' ">
                AND INSTR(v_sales_outbound.bill_no,#{queryForm.billNo})
            </if>
            <!--出库日期-->
            <if test="queryForm.salesBoundDateBegin != null ">
                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &gt;= #{queryForm.salesBoundDateBegin}
            </if>
            <if test="queryForm.salesBoundDateEnd != null ">
                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &lt;= #{queryForm.salesBoundDateEnd}
            </if>
        </where>
        order by v_sales_outbound.sales_bound_date desc
    </select>

    <!-- 分页 连接查询   -->
    <select id="queryPageWithReceivables"
            resultType="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.vo.SalesOutboundVO">
        SELECT
        <include refid="base_columns"/>
        FROM
            v_sales_outbound inner JOIN v_receivables vr
            ON v_sales_outbound.bill_no = vr.origin_bill_no
        <where>
            <!--客户编码-->
            <if test="queryForm.customerId != null">
                AND INSTR(v_sales_outbound.customer_id,#{queryForm.customerId})
            </if>
            <!--业务员-->
            <if test="queryForm.salespersonId != null">
                AND INSTR(v_sales_outbound.salesperson_id,#{queryForm.salespersonId})
            </if>
            <if test="queryForm.billNo != null and queryForm.billNo != '' ">
                AND INSTR(v_sales_outbound.bill_no,#{queryForm.billNo})
            </if>
            <!--出库日期-->
            <if test="queryForm.salesBoundDateBegin != null ">
                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &gt;= #{queryForm.salesBoundDateBegin}
            </if>
            <if test="queryForm.salesBoundDateEnd != null ">
                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &lt;= #{queryForm.salesBoundDateEnd}
            </if>
        </where>
        order by v_sales_outbound.sales_bound_date desc
    </select>

    <select id="queryPage2" resultMap="salesOutboundVO2Map">
        SELECT
        <include refid="base_columns"/>,
            vc.customer_name,
            vs.id,
            vs.salesperson_name,
            vr.bill_no,
            vr.currency_type,
            vr.rate
        FROM   v_sales_outbound
        left JOIN v_receivables vr ON v_sales_outbound.bill_no = vr.origin_bill_no
        left join v_customer vc on vc.customer_id= v_sales_outbound.customer_id
        left join v_salesperson vs on vs.id = v_sales_outbound.salesperson_id
        <where>
            <!--客户编码-->
            <if test="queryForm.customerId != null">
                AND INSTR(v_sales_outbound.customer_id,#{queryForm.customerId})
            </if>
            <!--业务员-->
            <if test="queryForm.salespersonId != null">
                AND INSTR(v_sales_outbound.salesperson_id,#{queryForm.salespersonId})
            </if>
            <if test="queryForm.billNo != null and queryForm.billNo != '' ">
                AND INSTR(v_sales_outbound.bill_no,#{queryForm.billNo})
            </if>
            <!--出库日期-->
            <if test="queryForm.salesBoundDateBegin != null ">
                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &gt;= #{queryForm.salesBoundDateBegin}
            </if>
            <if test="queryForm.salesBoundDateEnd != null ">
                AND DATE_FORMAT(v_sales_outbound.sales_bound_date, '%Y-%m-%d') &lt;= #{queryForm.salesBoundDateEnd}
            </if>
        </where>
        order by v_sales_outbound.sales_bound_date desc
    </select>


</mapper>
