<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.sales.outbound.dao.SalesOutboundDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_sales_outbound.sales_bound_id,
        v_sales_outbound.bill_no,
        v_sales_outbound.sales_bound_date,
        v_sales_outbound.customer_id,
        v_sales_outbound.salesperson_id,
        v_sales_outbound.amount,
        v_sales_outbound.create_time,
        v_sales_outbound.update_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.vo.SalesOutboundVO">
        SELECT
        <include refid="base_columns"/>
        FROM v_sales_outbound
        <where>
            <!--客户编码-->
            <if test="queryForm.customerId != null">
                        AND INSTR(v_sales_outbound.customer_id,#{queryForm.customerId})
            </if>
            <!--业务员-->
            <if test="queryForm.salespersonId != null">
                        AND INSTR(v_sales_outbound.salesperson_id,#{queryForm.salespersonId})
            </if>
            <!--出库日期-->
            <if test="queryForm.salesBoundDate != null">
                AND v_sales_outbound.sales_bound_date = #{queryForm.salesBoundDate}
            </if>
        </where>
    </select>

    <select id="queryByBillNo"
            resultType="net.lab1024.sa.admin.module.vigorous.sales.outbound.domain.entity.SalesOutboundEntity">
        select <include refid="base_columns"/>
        from v_sales_outbound
        where bill_no = #{billNo}
    </select>


</mapper>
