<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.salespersonlevel.dao.SalespersonLevelDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_salesperson_level.salesperson_level_id,
        v_salesperson_level.salesperson_level_name,
        v_salesperson_level.commission_rate
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.salespersonlevel.domain.vo.SalespersonLevelVO">
        SELECT
        <include refid="base_columns"/>
        FROM v_salesperson_level
        <where>
            <!--业务员级别名称-->
            <if test="queryForm.LevelName != null and queryForm.LevelName != ''">
                        AND INSTR(v_salesperson_level.salesperson_level_name,#{queryForm.LevelName})
            </if>
        </where>
    </select>


</mapper>
