<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.vigorous.salespersonlevel.dao.SalespersonLevelRecordDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        v_salesperson_level_record.id,
        v_salesperson_level_record.salesperson_id,
        v_salesperson_level_record.old_level,
        v_salesperson_level_record.new_level,
        v_salesperson_level_record.change_date,
        v_salesperson_level_record.change_reason,
        v_salesperson_level_record.create_time
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.vigorous.salespersonlevel.domain.vo.SalespersonLevelRecordVO">
        SELECT
        <include refid="base_columns"/>, vs.salesperson_name
        FROM v_salesperson_level_record
            left join v_salesperson vs on v_salesperson_level_record.salesperson_id = vs.id
        <where>
            <!--业务员名称-->
            <if test="queryForm.salespersonName != null and queryForm.salespersonName != ''">
                AND INSTR(vs.salesperson_name,#{queryForm.salespersonName})
            </if>
            <!--变动时间-->
            <if test="queryForm.changeDateBegin != null">
                AND v_salesperson_level_record.change_date &gt;= #{queryForm.changeDateBegin}
            </if>
            <if test="queryForm.changeDateEnd != null">
                AND v_salesperson_level_record.change_date &lt;= #{queryForm.changeDateEnd}
            </if>
        </where>
        order by create_time desc
    </select>


</mapper>
